*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    height: 100%;
    line-height: 1;
}

@media screen and (max-width: 599px) {
    html {
        font-size: 0.875rem;
    }
}

body {
    height: 100%;
}

h3 {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    padding-right: 0.5rem;
    width: auto;
}

hr {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #676a6e;
}

img {
    height: auto;
    max-width: 100%;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

dt {
    font-weight: normal;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.child {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.fixed {
    flex: 0 0 auto;
}

.fill {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.vcenter {
    justify-content: center;
}

.hcenter {
    align-items: center;
}

.baseline {
    align-items: baseline;
}

.center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.sideBar {
    background: black;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
    color: #dfe6ed;
    font-size: 1.5em;
    max-width: 2.5rem;
    min-width: 2.5rem;
    z-index: 10;
}

.sideBar ul {
    margin: 0.75rem auto;
}

.sideBar li {
    margin: 0.75rem auto;
}

.sideBar a {
    color: #dfe6ed;
    cursor: pointer;
    display: block;
    text-align: center;
}

.sideBar a.active {
    color: cyan;
}

.slide-in {
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
}

.slide-out {
    -webkit-animation: slide-out 0.5s forwards;
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

.geocoder {
    margin-bottom: 1em;
}

.mapboxgl-ctrl-geocoder {
    font-size: 1em;
    line-height: 1em;
    max-width: 100%;
    width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
    height: 2em;
}

.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--icon-search {
    left: 0.4375rem;
    top: 0.4375rem;
  }

.wrapper {
    position: relative;
}

.content {
    background: #dfe6ed;
    height: 100%;
    width: 100%;
}

#infoPanel {
    background-color: #dfe6ed;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    height: auto;
    left: 0;
    opacity: 0.85;
    padding: 0.75em 0.75em 1.25em 0.75em;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 23.5em;
}

.infotable {
    width: 100%;
}

.unit {
    text-align: right;
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
    padding-left: 0.25em;
}

.info dl {
    display: flex;
    flex-direction: column;
}

.info dt {
    margin-bottom: 0.625em;
}

.info dd:last-child {
    width: 1.25em;
}

.info dl div ,
#pinPanel dl div {
    display: flex;
    flex-direction: row;
}

.info .unit {
    padding-right: 0.25em;
    text-align: right;
}

.lnglat div {
    width: 11.5em;
}

.lnglat dt {
    width: 4.5em;
}

.lnglat .unit {
    width: 5.25em;
}

.height div {
    width: 10.25em;
}

.height dt {
    padding-left: 0.25em;
    width: 5.5em;
}

.height .unit {
    width: 3.5em;
}

.settings header,
.footer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.settings header h4 {
    flex: 0 0 auto;
    margin-bottom: 0.75em;
}

.settings header hr {
    margin-top: 0.5em;
    width: 100%;
}

.settings dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    width: 100%;
}

.settings dt {
    height: 1.375em;
    line-height: 1.375em;
    margin-bottom: 0.75em;
    width: 7.75em;
}

.vertinput {
    height: 1.375em;
    line-height: 1.375em;
    margin-bottom: 0.3em;
}

.settings dt.withCb {
    width: 5em;
}


.settings dd:last-child {
    width: 1.5em;
}

.settings dd abbr {
    display: inline-block;
    height: 1.375em;
    line-height: 1.375em;
    width: 1.5em;
}

dt.withUnit {
    width: 12.75em;
}

.unit2 {
    line-height: 1.375em;
    margin-right: 0.375em;
    padding-right: 0.9375em;
    text-align: right;
    width: 4.25em;
}

@-moz-document url-prefix() {
    .unit2 {
        padding-right: 1.125em;
    }
}

#stylePanel {
    background-color: #dfe6ed;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    height: auto;
    left: 0;
    opacity: 0.85;
    padding: 0.75em 0.75em 1.25em 0.75em;
    position: absolute;
    top: 3.375rem;
    transform: translateX(-100%);
    width: auto;
}

#stylePanel h3,
#pinPanel h3 {
    margin-bottom: 0.5em;
    margin-top: 0;
}

#stylePanel label {
    display: block;
    line-height: 1.5em;
}

#stylePanel input {
    margin-right: 1em;
}

#mapstyle {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#pinPanel {
    background-color: #dfe6ed;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    height: auto;
    left: 0;
    opacity: 0.85;
    padding: 0.75em 0.75em 1.25em 0.75em;
    position: absolute;
    top: 5.75rem;
    transform: translateX(-100%);
    width: 23.5em;
}

#pinPanel dt {
    line-height: 1.375em;
    padding-left: 0.25em;
    width: 5.5em;
}

#pinPanel dd {
    margin-bottom: 0.75em;
}

#pinPanel hr {
    margin-top: 0.5em;
}

#lngInput,
#latInput {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.debug {
    display: none;
}

input[type="number"] {
    background-color: #fff;
    border: 0;
    border-radius: 0.25em;
    font-size: 1em;
    height: 1.375em;
    line-height: 1.375em;
    margin-right: 0.375rem;
    overflow: hidden;
    text-align: right;
    transition: width 0.25s, min-width 0.25s;
    white-space: nowrap;
    width: 4.25em;
}

#pinPanel input[type="text"] {
    background-color: #fff;
    border: 0;
    border-radius: 0.25em;
    font-size: 1em;
    height: 1.375em;
    line-height: 1.375em;
    margin-right: 0.375rem;
    overflow: hidden;
    text-align: left;
    transition: width 0.25s, min-width 0.25s;
    white-space: nowrap;
    width: 15.25em;
}

input[type="range"] {
    background: #fff;
    border: 1px solid #afb5ba;
    border-radius: 3px;
    box-shadow: inset 1px 1px #d7dadd;
    cursor: pointer;
    height: 6px;
    margin: 0.25em 0.75em 0 0;
    outline: none;
    width: 4.25em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #0078f0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    box-sizing: border-box;
    height: 16px;
    width: 16px;
}

input[type="range"]::-moz-range-thumb {
    background: #0078f0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    box-sizing: border-box;
    height: 16px;
    width: 16px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #006bd6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

input[type="range"]::-moz-range-thumb:hover {
    background: #006bd6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

.withCb + dd {
    position: relative;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8125rem;
    height: 1.375rem;
    margin: 0;
    transition: width 0.25s, min-width 0.25s;
    width: 1.375rem;
}

input[type="checkbox"]:checked {
    background-color: #0078f0;
}

input[type="checkbox"]:checked:hover {
    background-color: #006bd6;
}

input[type="checkbox"] + .fa-check {
    color: #fff;
    font-size: 1rem;
    height: 1em;
    left: 0.1875em;
    line-height: 1em;
    pointer-events: none;
    position: absolute;
    top: 0.1875em;
    visibility: hidden;
}

input[type="checkbox"]:checked + .fa-check {
    visibility: visible;
}

button {
    background-color: #0078f0;
    border-radius: 0.25em;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 auto;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0.375em 16px 0.375em 12px;
    text-decoration: none;
}

button:hover {
    background-color: #006bd6;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

button:active {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    position: relative;
    top: 1px;
}

button.outline {
    background-color: transparent;
    border: 2px solid #a3a8ad;
    box-shadow: none;
    color: #676a6e;
    padding: 0.375em 16px 0.375em 16px;
}

button.outline:hover {
    background-color: #d5dce3;
    box-shadow: none;
    color: #5d6064;
}

button.outline:active {
    box-shadow: none;
}

.fa-calculator {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fa-sync-alt,
.fa-cog,
.fa-check {
    font-size: 0.8125rem;
    padding-right: 8px;
}

button.calc {
    background-color: #dfe6ed;
    border: 1px solid #afb5ba;
    border-radius: 0.6875rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    color: #676a6e;
    height: 1.375rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 2.875rem;
}

button.calc:hover {
    background-color: #006bd6;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    color: #fff;
}

button.calc:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    position: relative;
    top: 1px;
}

dd.wsSlp {
    position: relative;
    margin-right: 1em;
}

.wsSlp select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 0.25em;
    font-size: 1em;
    height: 1.375em;
    line-height: 1.375em;
    margin-right: 0.375rem;
    overflow: hidden;
    padding-right: 0.9375em;
    text-align: left;
    transition: width 0.25s, min-width 0.25s;
    white-space: nowrap;
    width: 5em;
}

.wideSelect select {
    width: 12.5em;
}

@-moz-document url-prefix() {
    .wsSlp select {
        padding-right: 0.875em;
    }
}

.fa-chevron-down {
    color: DimGray;
    font-size: 0.5rem;
    line-height: 1.375rem;
    pointer-events: none;
    position: absolute;
    right: 0.5625rem;
}

@-moz-document url-prefix() {
    .fa-chevron-down {
        color: Gray;
        pointer-events: none;
        right: 0.6875rem;
        top: 0.125rem;
    }
}

#wMap-canvas {
    background-color: #fff;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    height: 400px;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    visibility: hidden;
    width: 400px;
}

@media screen and (max-width: 599px) {
    #wMap-canvas {
        bottom: 2.5rem;
        height: 250px;
        right: 2.5rem;
        top: auto;        
        width: 250px;
    }
}

progress {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    height: 12px;
    margin-top: 1.5rem;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    /* transition: width 0.25s; */
    background-color: #0078f0;
    border-radius: 4px;
}

progress::-moz-progress-bar {
    /* transition: width 0.25s; */
    background-color: #0078f0;
    border-radius: 4px;
}

progress::-ms-fill {
    /* transition: width 0.25s;*/
    background-color: #0078f0;
    border-radius: 4px;
}

#dcBox {
    display: none;
}

#deleteCaches {
    position: relative;
}

.fa-times {
    font-size: 1rem;
    left: 0.3125rem;
    pointer-events: none;
    position: absolute;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
        -1px 1px 0 #000, 1px -1px 0 #000,
        0 1px 0 #000, 0 -1px 0 #000,
        -1px 0 0 #000, 1px 0 0 #000;
    top: 0.375rem;
}
